POSTGRES_USER=lakehouse_user
POSTGRES_PASSWORD=lakehouse_password
POSTGRES_DB=lakehouse

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_ADMIN_FIRSTNAME=TFM
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@localhost

SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin123
SUPERSET_ADMIN_FIRSTNAME=TFM
SUPERSET_ADMIN_LASTNAME=Admin
SUPERSET_ADMIN_EMAIL=admin@localhost
SUPERSET_SECRET_KEY=replace-with-a-long-random-secret-key