spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions

spark.sql.catalog.lakehouse=org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.lakehouse.type=jdbc
spark.sql.catalog.lakehouse.uri=jdbc:postgresql://postgres:5432/lakehouse
spark.sql.catalog.lakehouse.jdbc.user=${POSTGRES_USER}
spark.sql.catalog.lakehouse.jdbc.password=${POSTGRES_PASSWORD}

spark.sql.catalog.lakehouse.warehouse=s3://lakehouse/warehouse
spark.sql.catalog.lakehouse.io-impl=org.apache.iceberg.aws.s3.S3FileIO

spark.sql.catalog.lakehouse.s3.endpoint=http://minio:9000
spark.sql.catalog.lakehouse.s3.path-style-access=true
spark.sql.catalog.lakehouse.s3.access-key-id=${MINIO_ROOT_USER}
spark.sql.catalog.lakehouse.s3.secret-access-key=${MINIO_ROOT_PASSWORD}
spark.sql.catalog.lakehouse.s3.region=us-east-1